# Environment variables
.env

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Media (optional – since Cloudinary)
media/

# Django runtime artifacts
*.log
db.sqlite3

# Static build output (collected static)
staticfiles/

# ML artifacts
ml/*.pkl

# Data files (likely environment-specific)
backup.json
data.json

# OS files
.DS_Store
Thumbs.db

